.DS_Store
.env
.env-forge
/vendor
/node_modules
/bower_components
/public/imgs
Homestead.yaml
/nbproject
/app/Http/Requests/oauth.php
/resources/emu175_dyk.txt

Vagrantfile
*Homestead.yaml*
Homestead.yaml
*Homestead.yaml
Homestead.yaml*
*.vagrant*
.idea
