/*
Styles For: EMU-Today v.3 Main Styles Content
Description: Styles for the base elements, navigation, and hub page
Author: Suzanne Szopo
URL: http://today.emich.edu
*/

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/****** General Styles *********/
html, body {
  background-color: #343434;
}

.wordbreak {
  word-break: break-all;
}

.newspaper ul {
  list-style-type: none !important;
  margin-bottom: 10px !important;
}

author {
  font-style: italic;
}

.notbold {
  font-weight: 400;
}

.nopadding {
  padding: 0;
}

.notoppadding {
  padding-top: 0;
}

.nobottompadding {
  padding-bottom: 0;
}

.green {
  color: #0f654a;
}

.featurepadding {
}

.goright {
  float: right;
}

.subhead-title {
  margin: 0 0 .5rem 0;
  padding: 0;
  color: #666;
  text-transform: uppercase;
}

.smaller {
  font-size: 0.9rem;
}

.smaller-title {
  font-size: 60%;
  color: #666;
  margin-left: .3rem;
}

.smaller-title:hover {
  color: #333;
  text-decoration: none;
}

.story-author {
  font-style: italic;
  font-size: 0.9rem;
}

#tier2-nav h1.magazine-title {
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 4.2rem;
  margin-bottom: .3rem;
  text-transform: uppercase;
  display: inline-block;
  margin-right: .2rem;
  position: relative;
}

#tier2-nav .magazine-for-title {
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: left bottom 0;
  margin-left: .7rem;
  font-size: .6rem;
  text-transform: uppercase;
  color: #999;
  font-weight: 600;
}

/*TRUEMU*/
span.truemu {
  color: #036937;
  font-weight: 600;
}

span.truemu::before {
  color: #c1d82e;
  content: "TRU";
}

a.emu-button {
  background-color: #1e9744;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

a:hover.emu-button {
  background-color: #0f654a;
  text-decoration: none;
}

a.allcaps {
  text-transform: uppercase;
}

a.bold-green-link {
  text-transform: uppercase;
  color: #036937;
  font-weight: 500;
}

a.bold-green-link:after {
  font-family: FontAwesome;
  color: #97D700;
  content: "\f061";
  vertical-align: top;
  padding-left: 6px;
  display: inline-block;
  text-decoration: none;
}

a.readmore {
  font-family: 'Poppins', sans-serif;
}

/*Headings*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

h2.mediahighlight-date {
  font-size: 1.3rem;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#content-area {
  position: relative;
  padding: 0;
  margin: -18px 0 0 0; /** SET THIS BACK TO 0 AFTER EMU 175 CAMPAIGN IS OVER **/
  width: 100%;
  background-color: #f2f2f2;
}

#connection-bar {
  width: 100%;
  z-index: 1000;
  position: relative;
  overflow: hidden;
}

#connection-bar a:hover {
  text-decoration: none;
}

#connection-bar ul li {
  display: inline;
  text-transform: uppercase;
  list-style: none;
}

#white-bar {
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  position: relative;
  height: auto;
}

#transparent-bar {
  position: relative;
  width: 100%;
  background-color: #676767;
  z-index: 100;
  height: auto;
}

#secondary-bar {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  height: auto;
  color: #333;
  /** PUT THESE BORDERS BACK AFTER EMU 175 CAMPAIGN IS OVER **/
  /*border-top: 1px solid #e5e5e5;*/
  /*border-bottom: 1px solid #e5e5e5;*/
  /** REMOVE THESE AFTER EMU 175 CAMPAIGN IS OVER **/
  padding-bottom: 30px;
  margin-bottom: 5px;
}

.mediumgrey-section {
  text-align: center;
  color: #ffffff;
  padding-bottom: .5rem;
}

ul.social-icons {
  float: none;
}

/****** #tier1-nav *********/

#tier1-nav {
  z-index: 200;
  padding: 0 0 0 0;
}

#tier1-nav h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
  padding: 0 0 0 0;
}

#tier1-nav .menu-area a {
  color: #fff;
}

/****** #tier2-nav *********/
#tier2-nav {
  padding-top: .5rem;
  color: #000000;
  z-index: 1000;
  font-family: "Poppins", "Roboto", "Open Sans", Helvetica, Arial, sans-serif;
  position: relative;
}

#tier2-nav h1 {
  font-size: 3.1rem;
  margin-bottom: .5rem;
}

#tier2-nav ul {
  float: right;
  padding: .4rem 0;
  margin: 0;
  font-size: .8rem;
  font-family: "Poppins", "Roboto", "Open Sans", Helvetica, Arial, sans-serif;
}

#tier2-nav ul li a {
  color: #fff;
  padding: 0 .6rem 0 .8rem;
  position: relative;
}

#tier2-nav ul li a:hover {
  color: #7afe19;
}

#tier2-nav ul li a.email-arrow::after {
  width: 8px;
  padding-top: 0;
  margin-top: 0;
  padding-left: 3px;
  content: url('../../assets/imgs/home/subnav-arrow.png');
}

#tier2-nav ul li a.email-arrow:hover::after {
  content: url('../../assets/imgs/home/subnav-arrow-over.png');
}

#tier2-nav ul li a.right-arrow {
  background-image: url('../../assets/imgs/home/subnav-arrow-right.png');
  background-repeat: no-repeat;
  background-position: 0 center;
}

#tier2-nav ul li a:hover.right-arrow {
  background-image: url('../../assets/imgs/home/subnav-arrow-right-over.png');
  background-repeat: no-repeat;
  background-position: 0 center;
}

.tier2-menu {
  text-transform: uppercase;
  font-size: .8rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.tier2-menu a {
  color: #ffffff;
}

.tier2-menu a:hover {
  color: #7afe19;
}


/****** #tier3-nav *********/
#tier3-nav ul {
  float: left;
  padding: 0;
  margin: 0;
  /*font-size: .8rem;*/
}

#tier3-nav ul li {
  border-left: 1px solid #e5e5e5;
  display: inline-block;
  /*height: 30px;*/
  font-family: "Poppins";
  font-size: .9rem;
}

ul#tier3-nav-main li a.active i.fa-play {
  display: none;
}

.fa-play::before {
  content: "";
}

#tier3-nav ul li:last-child {
  border-right: 1px solid #e5e5e5;
}

#tier3-nav ul li a {
  color: #333;
  /*padding: .3rem .4rem;*/
  padding: .3rem 1.1rem;
  display: block;
  /*height: 30px;*/
}

#tier3-nav ul li a.active {
  color: #0f654a;
  font-weight: 500;

}

#tier3-nav ul li a:hover {
  color: #0f654a;
}

.tier3-menu {
  text-transform: uppercase;
  font-size: .8rem;
  background-color: #fff;
}

.tier3-menu a {
  color: #333;
}

.tier3-menu a:hover {
  color: #0f654a;
}


#logo-box {
  background-color: #0f654a;
  /*padding: .8rem .6rem 0rem; */
  position: absolute;
  z-index: 200;
  box-sizing: border-box;
  /*left: 0;*/
  width: 100%;
  padding: 1rem;
  margin-right: 1rem;
}

#logo-box img {
  width: 100%;
}

/*Feature story*/
.news-caps, .cal-caps {
  text-transform: uppercase;
}

#news-bar {
  height: auto;
  position: relative;
  width: 100%;
  z-index: 10;
  padding: 1rem 0 1.5rem 0;
  background-color: #ffffff;
}

#news-bar img {
  width: 100%;
}

#featured-text p.button-group {
  text-align: left;
  padding-top: .5rem;

}

#featured-text a.button {
  margin: 0;
  padding: .5rem 1rem;
  background-color: transparent;
  color: #0f654a;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid #0f654a;
  font-weight: 500;
}

#featured-text a:hover.button {
  background-color: #0f654a;
  text-decoration: none;
  color: #fff;
}

#featured-text {
  padding-top: 2.4rem;
  box-sizing: border-box;
}

#featured-text h3 {
  color: #0f654a;
}

#featured-text p {
  margin-bottom: .8rem;
  font-size: 1rem;
  line-height: 1.4rem;
}

#title-space {
  height: 25rem;
  position: relative;
  width: 100%;
  z-index: 20;
}


/*Four story bar*/
#four-stories-bar {
  background-color: #f2f2f3;
  height: auto;
  color: #333;
  position: relative;
  width: 100%;
  z-index: 10;
  /*padding: .8rem 0;*/
  padding: 1.5rem 0;
}

#four-stories-container {
  /*padding-bottom: 10px;*/
  padding-bottom: 1.5rem;
  /*border-bottom: 4px double #a9a9a9;*/
}

#four-stories-bar img.topic-image {
  width: 100%;
}

#four-stories-bar h5 {
  text-transform: uppercase;
}

#four-stories-bar p.link-group {
  padding-top: .5rem;
  font-size: 1rem;
}

#four-stories-bar p.link-group a {
}

p.link-group a i.fa {
  color: #97D700;
  text-decoration: none;
  margin-left: .2rem;
  font-size: 1.1rem;
}

img.news-icon {
  padding: 0;
  margin: -2px 0 0;
}

#four-stories-bar p {
  font-size: .9rem;
  line-height: 1.2rem;
  padding: .2rem 0;
  background-color: #fff;
  margin: 0;
}

#four-stories-bar .stories-content {
  margin: 0;
  padding: 1rem 1.5rem 1.2rem 1.5rem;
  background-color: #fff;
}

#four-stories-bar i.fa-play {
  padding-left: .2rem;
}

.stories-text-content p {
  text-align: left;

}


/*News Headline bar*/
#news-headline-bar {
  height: auto;
  color: #333;
  position: relative;
  width: 100%;
  z-index: 10;
  padding: .2rem 0;
}

#news-headline-bar img {
  width: 100%;
}

#news-headline-bar .card-section {
  margin: 0;
  padding: 1.5rem;
  background-color: #fff;
  line-height: 1.4rem;
  font-size: 1rem;
  position: relative;
  box-sizing: border-box;

}

.newshub-tab-front ul li a {
  display: block;
  padding: .4rem 0;
  color: #333;
  line-height: 1.4rem;
  font-size: 1rem;
}

#news-headline-bar .card-section p {
  font-size: 1rem;
  line-height: 1.4rem;
}

#news-headline-bar .card-section h6 {
  padding-bottom: 3px;
  border-bottom: 1px solid #a9a9a9;
}

#news-headline-bar .calendar-text-content h6 {
  border-bottom: none !important;
}

#news-headline-bar .card-section i.fa {
  /*color: #c9f320;*/
  color: #97D700;
  text-decoration: none;
  margin-left: .2rem;
  /*font-size: .9rem;*/
  position: absolute;
}

#news-headline-bar .card {
  border: none;
  background: none;
}

#news-headline-bar-middle .card-section a.popup-youtube:after {
  text-decoration: none;
  font-family: FontAwesome;
  color: #97D700;
  content: "\f061";
  vertical-align: top;
  padding-left: 6px;
  display: inline-block;
  text-decoration: none;
}

#news-headline-bar-middle, #news-headline-bar-bottom {
  margin-top: 1.2rem;
}

#five-events-bar {
  box-sizing: border-box;
  overflow: hidden;
}

#news-headline-bar-top .card {
  margin-bottom: 1rem;
}

#news-headline-bar-middle .card {
  margin-bottom: 1rem;
}

#news-headline-bar-bottom {
  margin-bottom: 1rem;
}

#newshub-headlines-front {
}

/*feature boxes*/
.featured-content-block {
  padding: 1.5rem 1.5rem 1.1rem 1.5rem;
  background-color: #f2f2f3;
  position: relative;
  margin: 1.2rem 0 0 0;
}

div.featured-content-block + div.featured-content-block {
  margin: 2rem 0;
}

.featured-content-block img {
  margin-bottom: .6rem;
  width: 100%;
}

.featured-content-block p {
  font-size: .9rem;
  line-height: 1.2rem;
  margin-bottom: .3rem;
}

.featured-content-block h6.headline-block {
  display: block;
  background-color: #0c6348;
  padding: .2rem .4rem;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: -1.2rem;
}

.featured-content-block h6.lt-green {
  background-color: #1e9744;
}

.featured-content-block span.truemu {
  color: #ffffff;
}

.featured-content-block a {
  color: #333;
}

ul.feature-list {
  list-style: none;
  margin: 0;
  color: #333;
  padding: 0;
  font-size: 1rem;
  line-height: 1.4rem;
}

ul.feature-list.hr-list {
  list-style: none;
  margin: 0;
  color: #333;
  padding: 0;
  /*font-size: 1rem;
  line-height: 1.4rem;*/
}

ul.feature-list.hr-list li {
  border-bottom: 1px dotted #ccc;
  display: block;
  padding-bottom: .5rem;
  margin-bottom: .5rem;

}

ul.feature-list.hr-list li {
  border-bottom: 1px dotted #ccc;
  /*line-height: 2.2rem;*/
  line-height: 1.2rem;
  margin-left: 1.8rem;
  /* display: block;*/
  padding-bottom: .5rem;
  margin-bottom: .5rem;


}

ul.feature-list.hr-list li:before {
  content: "\f0c0"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.6rem; /* same as padding-left set on li */
  width: 1.3rem; /* same as padding-left set on li */
  color: #97D700;
  vertical-align: bottom;
}

ul.feature-list.hr-list li:hover {
  text-decoration: none;
  background-color: #f8f8f8;
}

ul.feature-list.hr-list li a:hover {
  text-decoration: none;
  background-color: transparent;
}

ul.feature-list li:last-of-type {
  border-bottom: none;
  background-color: transparent;
}

ul.feature-list li a {
  display: inline !important;
  padding: 1rem 0;
  color: #333;
  background-color: transparent;
}

ul.feature-list li a:hover {
  text-decoration: none;
  background-color: transparent;
}

ul.feature-list .fa-group::before, .fa-users::before {
  content: "";
}

/*Calendar-feature*/

.calendar-feature-block {
  padding: 0rem 0rem 1.1rem 0rem;
  background-color: none;
  position: relative;
  margin: 0rem 0 0 0;
}

#calendar-bar {
  background-color: #ffffff;
}

h6.calendar-block {
  color: #0f654a;
  border-bottom: 4px double #ccc;
  padding: 0 0 .5rem 0;
  margin: 0 0 .5rem 0;
  font-weight: 500;
  line-height: 1.3rem;
}

#story-content .calendar-feature-block p, #story-content .calendar-feature-block ul {
  font-size: .9rem;
  line-height: 1.2rem;
  margin-bottom: .1rem;
}

ul.calendar-list {
  margin: .3rem 0 .3rem 2rem;
}

div.calendar-feature-block + div.featured-content-block {
  margin: 2rem 0;
}

/*Active bar*/
#active-bar {
  height: auto;
  color: #333;
  position: relative;
  width: 100%;
  z-index: 10;
  padding: .8rem 0;
}

#containingbox.row {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

ul.twitter-content {
  list-style: none;
  margin: 0 0 .6rem 0;
  color: #333;
  font-size: .9rem;
}

ul.twitter-content li {
  border-bottom: 1px dotted #ccc;
}

ul.twitter-content li:last-of-type {
  border-bottom: none;
}

ul.twitter-content li {
  display: block;
  padding: .4rem 0;
  color: #333;
  line-height: 1.4rem;
}

ul.twitter-content li a {
  display: inline !important;
  color: #0d5740 !important;
  font-weight: 500;
}

ul.twitter-content li:hover {
  text-decoration: none;
}

.twitterlink p {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.twitterlink p:last-child {
  float: right;
}

#twitter-info, #calendar-info, #working-info {
  margin-bottom: 1.2rem;
}

.working-link p:last-child {
  float: right;
}

/*Calendar*/
ul.calendar-event-group {
  margin-bottom: 1rem;
  list-style: none;
}

ul.calendar-event-group a {
  color: #333;
}

#newshub-calendar-front li p.datecontent-box {
  font-size: .9rem;
  line-height: 1.1rem;
  margin-top: .4rem;
  margin-bottom: 0;
}

.date-box {
  box-sizing: border-box;
  text-align: center;
  background-color: #999;
  color: #fff;
  padding: .3rem 0 .6rem 0;
}

.date-box p:first-child {
  text-transform: uppercase;
  font-size: .7rem;
  padding: 0;
  margin: 0;
}

.date-box p:last-child {
  font-family: "PT Serif", serif;
  font-size: 1.2rem;
  line-height: 1.0rem;
  padding: 0;
  margin: 0;
}

#newshub-calendar-front li.calendar-unit {
  margin-bottom: .4rem;
}

.event-box {
  border-bottom: 4px double #ccc;
  padding: 0;
  margin: 0 0 .3rem 0;
}

.event-box h5 {
  margin-top: 0;
}

#newshub-calendar-front p {
  margin: 0;
}

/*announcement listing bar*/
#listing-bar {
  height: auto;
  color: #333;
  position: relative;
  width: 100%;
  z-index: 10;
  padding: .8rem 0 0 0;
}

ul.accordion li {
  border-top: 1px dotted #ccc;
}

#announcement-list {
  background-color: transparent !important;
}

.accordion li:first-of-type {
  border-top: 1px none #ccc;
}

.accordion-title {
  background: none;
  color: #0f654a;
  padding: .5rem 0rem .5rem 0;
  display: block;
  font-size: 1.0rem;
  line-height: 1.6;
  text-decoration: none;
  border: 0 solid #e6e6e6;
}

.accordion-content p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
}

.accordion .accordion-item.is-active > a, .accordion dd.is-active > a {
  background: none;
}

.accordion .accordion-item > a:hover, .accordion dd > a:hover {
  text-decoration: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.mainContent {
  include: . clearfix;
}

#title {
}

#title-grouping, #base-grouping {
  border-bottom: 4px double #ccc;
}

#title-grouping:last-of-type, #base-grouping:last-of-type {
  border-bottom: none;
  margin-bottom: 1rem;
}

#title-grouping h6, #base-grouping h6 {
  line-height: 1.6rem;
}

#title-grouping h2 {
  line-height: 2.3rem;
  font-size: 1.8rem;
}

#title-grouping h3 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

#base-grouping h3 {
  line-height: 1.5rem;
}

#title-grouping ul.pagination {
  margin: 0;
}

/** Search Filter **/
#vue-search-filter {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.8rem;
  margin-bottom: 1rem;
}

#search-filter-list {
  float: left;
  list-style-type: none;
  color: #555555;
  cursor: pointer;
  margin: 0;
  line-height: 1rem;
  margin-bottom: 0rem;
}

#search-filter-list li {
  float: left;
  text-align: left;
  list-style-type: none;
  color: #555555;
  margin: 5px 20px 0px 0px;
  cursor: pointer;
}

#search-filter-list li:hover {
  color: #000000;
  display: inline-block;
}

#search-filter-list li.active {
  color: #0f654a;
  font-weight: bold;
  text-decoration: underline;
}

#search-filter-list li a {
  color: inherit;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0px 5px 5px;
}

.submit-search-btn {
  padding: 10px !important;
}

.search-results-form #search-btn {
  padding: 11px;
}

/* EMU Emergency: CSS Styles should correspond to the CSS file on the emich server at: /data/main/htdocs/admin/wrapper/css/emu_attention.css */

/*_Emergency Alerts in Red_*/
.emergency-red {
  /*background-color:#FF0000;*/
  padding: 10px 18px;
  border-style: none;
  clear: both;
  background: #FF0000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#a80e0e, #FF0000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a80e0e, #FF0000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a80e0e, #FF0000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a80e0e, #FF0000); /* Standard syntax */
}

.emergency-red h3:before {
  content: "\f071";
  font-family: FontAwesome;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  padding-left: 0rem;
  padding-right: .8rem;
}

.emergency-red h3 {
  color: #FFF;
  margin: .3rem 0 .5rem 0;
  padding: 0px;
  font: bold 16px;
}

.emergency-red p {
  color: #FFF;
  margin: 0 0 .5rem 0;
  font-size: .9rem;
}

.emergency-red a {
  color: #FFF;
}

.emergency-red a:hover {
  color: #FC6;
}

/*_Emergency Alerts in Yellow_*/

.emergency-yellow {
  padding: 10px 18px;
  background: #FC6;
  border-style: none;
  clear: both;
  background: #FC6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fec95e, #fcf02a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fec95e, #fcf02a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fec95e, #fcf02a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fec95e, #fcf02a); /* Standard syntax */
}

.emergency-yellow h3 {
  color: #333;
  margin: 0px;
  margin: .3rem 0 .5rem 0;
  font: bold 16px;
}

.emergency-yellow.event-notice h3 {
  font-size: 1rem;
  margin-top: .5rem;
}

.emergency-yellow h3:before {
  content: "\f071";
  font-family: FontAwesome;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  color: #c4942c;
  padding-left: 0rem;
  padding-right: .8rem;
}

.emergency-yellow.event-notice h3:before {
  font-size: 1rem;
}

.emergency-yellow p {
  color: #333;
  margin: 0 0 .5rem 0;
  font-size: .9rem;
}

.emergency-yellow a {
  color: #333;
}

.emergency-yellow a:hover {
  color: #037551;
}

#emergency-bar.no {
  display: none;
}

/* Special notice (announcement) box on front page */
#special-notice-container {
  background-color: #f2f2f3;
  height: 210px;
  overflow: hidden;
  border: 1.8rem solid #f2f2f3;
}

#special-notice-container h3 {
  text-transform: uppercase;
}

#special-notice-container p {
  margin-bottom: 0.4rem;
}

#special-notice-teaser > a {
  color: #333;
}

.button.secondary {
  background-color: #ffffff;
  border: 1px solid #0f654a;
  color: #0f654a;
}

.newshub-tab-front ul li a.statement-link, ul.news-headlines a.statement-link {
  position: relative;
  padding-left: 80px;
}

.newshub-tab-front ul li a.advisory-link, ul.news-headlines a.advisory-link {
  position: relative;
  padding-left: 70px;
}

.newshub-tab-front ul li a.statement-link::before, .newshub-tab-front ul li a.advisory-link::before {
  position: absolute;
  top: 8px;
  left: 0;
}

ul.news-headlines a.statement-link::before, ul.news-headlines a.advisory-link::before {
  position: absolute;
  top: 11px;
  left: 0;
}

.newshub-tab-front ul li a.statement-link::before, ul.news-headlines a.statement-link::before {
  content: "STATEMENT";
  background: #007781;
  padding: .1rem .4rem;
  color: #fefefe;
  font-size: .7rem;
  font-weight: 500;
}

.newshub-tab-front ul li a.advisory-link::before, ul.news-headlines a.advisory-link::before {
  content: "ADVISORY";
  background: #edd92f;
  padding: .1rem .4rem;
  color: #010101;
  font-size: .7rem;
  font-weight: 500;
}

.newshub-tab-front ul li a.statement-link::before, .newshub-tab-front ul li a.advisory-link::before {
  padding: 0 .4em;
}

/*More Stories base bar*/
#more-stories-bar {
  padding: 2rem 0;
}

#more-stories-bar .card {
  margin-bottom: 1.1rem;
  box-sizing: border-box;
}

#more-stories-bar h6 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

#more-stories-bar .card-section {
  margin: 0;
  padding: .8rem 1.1rem 2.1rem 1.2rem;
  background-color: #fff;
  position: relative;
}

#more-stories-bar .card-section p {
  font-size: .9rem;
  line-height: 1.1rem;
  box-sizing: border-box;
}

#more-stories-bar .card-section p.link-group {
  position: absolute;
  bottom: 15px;
}

.off-canvas.position-right {
  right: 0 !important;
}

.round-white-btn {
  background-color: #fff;
  color: black !important;
  border: 1px solid #0f654a;
  padding: .4rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 2rem;
  font-weight: bold;
}
