/*#tier1-nav .toppad{
  padding-top: .3rem;
}*/


#listing-bar ul.accordion {
    border: 0 none;
}
.profile-text-content.magazine h3{
  font-size:1.3rem;
  margin: 0;
  color: #222222;
}
.article-link a:hover p{
  text-decoration: none;
}

#vue-caleventview {
      background-color: #f2f2f3;
}
#calendar-content-bar{
    padding: 0;
    margin: 0;
}


.tabs {
  margin: 0;
  list-style-type: none;
  background: #ffffff;
  border: 0;
  border-bottom: 1px solid #e6e6e6;

}
.tabs::before, .tabs::after {
  content: ' ';
  display: table; }
.tabs::after {
  clear: both; }
  .newshub-tab-front ul{
      list-style: none;
      margin:0;
      color: #333;
  }
  .newshub-tab-front ul li{
      border-bottom: 1px dotted #a9a9a9;
  }
  .newshub-tab-front ul li:last-of-type{
      border-bottom: none;
  }
  .newshub-tab-front ul li a{
      display: block;
      padding: .4rem 0;
      color: #333;
      line-height: 1.4rem;
  }
    .newshub-tab-front ul li a.bottom-tab-link{

            color: #0f654a;


    }
  .newshub-tab-front ul li a:hover{
      background-color: #fefefe;

  }
.stories-content i.fa-play {
  padding-left: 0.5rem;
}


#tier2-nav-magazine i.fa-play {
    padding-right: 0.2rem;
}
ul#tier2-nav-magazine li a {
    padding: 0 0.5rem 0 0;
}
ul#tier2-nav-magazine li a i.fa-play {
    display:none;
}
ul#tier2-nav-magazine li a.active i.fa-play {
    display:inline;
}

ul#tier3-nav-main li a i.fa-play {
    padding-right: 0.2rem;
}

ul#tier3-nav-main li a i.fa-play {
    display:none;
}
ul#tier3-nav-main li a.active i.fa-play {
    display:inline;
}
i.fa-arrow-right.calstyle1,
i.fa-arrow-left.calstyle1 {
  font-size: 1rem;
  color: #ffffff;
}


.media-object img {
    max-width: 100%;
}
a.magazine-article-button {
  color: #222;
}

.four-stories-block{
  padding-bottom: 10px;
}


#profile-text-over-image-box{
    width: 50%;
    top: 38%;
    padding: 1.3rem 1.2rem 1rem;
}
#profile-text-over-image-box p{
    font-weight:bold;
    margin-bottom: .5rem;
    font-size: .9rem;
    line-height: 1.1rem;
}


#previewCover {
    top: 2px;
    right: 2px;
}

#user-events-approved-table th, td {
    padding: 0;

}
.search-results-form {
    padding-top:1rem;
}
ul.search-result-list {
    list-style-type: none;
    margin-left: 0;
}
li.search-result-item h5{
    margin:0;
}
li.search-result-item p{
    margin-left: 15px;
    margin-bottom:0;
}
li.search-result-item p{
    margin-left: 15px;
    margin-bottom:0;
}
li.search-result-item {
    margin-bottom:20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}
ul.pagination li.active {
  display: inline-block;
  padding: 0 10px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #efefef;
}
.input-group-flat {
  margin-bottom: 0;
}

/**********************************/
/* Story Images / Imagebox and Caption Fix */
/* CONTAINER */
.vis_container, #story-content-edit figure {
  /*float:right;*/
  max-width: 45%;
	border-style: solid;
	border-width: 1px;
	border-color: #d8d8d8;
	margin-bottom: 1.11111rem;
	margin-left: 1.11111rem;
	margin-right: 0;
	padding: 1.11111rem;
	color: #333333;
}
/* IMAGES */
.vis_container .visbox img, #story-content-edit figure img {
	margin: 0px;
	padding: 0px;
	border: 1px solid #999;
	float: none;
}
@media screen and (max-width: 40em) {
  .vis_container, #story-content-edit figure {
    margin-left: .5rem;
    margin-right: 1rem;
    max-width: 100%;
    clear:both;
    /*float:right !important;*/
  }
}
#story-content-edit p img {
	margin: 1rem;
}
/* CAPTIONS */
.viscaption {
  padding: 0;
  margin: 0;
}
.viscaption p, #story-content-edit figure figcaption {
	margin: 0px;
	padding: .7rem 0px 0px 0px;
	font-size: 12px !important;
	color: #333;
}
/* Story Caption Fix */

/* Foundation fix */
.off-canvas-content, .off-canvas-content {
    padding-bottom: 0px;
}
div.browserupgrade {
  padding: 0;
  margin: 0;
  width: 100%;
}
p.browserupgrade {
  width: 100%;
  margin: 0;
  padding: .7rem;
  text-align: center;
  background: #f7f0dd;
  border-bottom: 1px solid grey;
}
a.chrome:before {
	content:"\f268";
  font-family: FontAwesome;
  padding-right: 0.15em;
}
a.firefox:before {
	content:"\f269";
  font-family: FontAwesome;
  padding-right: 0.1em;
}
.academic-calednar-button {
  font-size: 105%;
  font-weight: 700;
  padding-top: .6rem !important;
  padding-bottom: .6rem !important;
}
.academic-calednar-button i {
  color: #1e9744;
}
.academic-calednar-button.prime {
  background: #fff !important;
}
.academic-calednar-button.secondary {
  margin: 0;
  background: #ddd;
  border: none !important;
  color: #0F6547 !important;
}
.academic-calednar-button:hover {
  background: #ccc !important;
}

/* Push Pull */
@media screen and (min-width: 40em) {
    .small-push-1 {
        position: relative;
        left: 8.33333%;
    }
    .small-pull-1 {
        position: relative;
        left: -8.33333%;
    }
    .small-push-2 {
        position: relative;
        left: 16.66667%;
    }
    .small-pull-2 {
        position: relative;
        left: -16.66667%;
    }
    .small-push-3 {
        position: relative;
        left: 25%;
    }
    .small-pull-3 {
        position: relative;
        left: -25%;
    }
    .small-push-4 {
        position: relative;
        left: 33.33333%;
    }
    .small-pull-4 {
        position: relative;
        left: -33.33333%;
    }
    .small-push-5 {
        position: relative;
        left: 41.66667%;
    }
    .small-pull-5 {
        position: relative;
        left: -41.66667%;
    }
    .small-push-6 {
        position: relative;
        left: 50%;
    }
    .small-pull-6 {
        position: relative;
        left: -50%;
    }
    .small-push-7 {
        position: relative;
        left: 58.33333%;
    }
    .small-pull-7 {
        position: relative;
        left: -58.33333%;
    }
    .small-push-8 {
        position: relative;
        left: 66.66667%;
    }
    .small-pull-8 {
        position: relative;
        left: -66.66667%;
    }
    .small-push-9 {
        position: relative;
        left: 75%;
    }
    .small-pull-9 {
        position: relative;
        left: -75%;
    }
    .small-push-10 {
        position: relative;
        left: 83.33333%;
    }
    .small-pull-10 {
        position: relative;
        left: -83.33333%;
    }
    .small-push-11 {
        position: relative;
        left: 91.66667%;
    }
    .small-pull-11 {
        position: relative;
        left: -91.66667%;
    }
    .small-push-0,
    .small-pull-0 {
        position: static;
        margin-left: 0;
        margin-right: 0;
        float: left;
    }
}
@media screen and (min-width: 40em) {
    .medium-push-1 {
        position: relative;
        left: 8.33333%;
    }
    .medium-pull-1 {
        position: relative;
        left: -8.33333%;
    }
    .medium-push-2 {
        position: relative;
        left: 16.66667%;
    }
    .medium-pull-2 {
        position: relative;
        left: -16.66667%;
    }
    .medium-push-3 {
        position: relative;
        left: 25%;
    }
    .medium-pull-3 {
        position: relative;
        left: -25%;
    }
    .medium-push-4 {
        position: relative;
        left: 33.33333%;
    }
    .medium-pull-4 {
        position: relative;
        left: -33.33333%;
    }
    .medium-push-5 {
        position: relative;
        left: 41.66667%;
    }
    .medium-pull-5 {
        position: relative;
        left: -41.66667%;
    }
    .medium-push-6 {
        position: relative;
        left: 50%;
    }
    .medium-pull-6 {
        position: relative;
        left: -50%;
    }
    .medium-push-7 {
        position: relative;
        left: 58.33333%;
    }
    .medium-pull-7 {
        position: relative;
        left: -58.33333%;
    }
    .medium-push-8 {
        position: relative;
        left: 66.66667%;
    }
    .medium-pull-8 {
        position: relative;
        left: -66.66667%;
    }
    .medium-push-9 {
        position: relative;
        left: 75%;
    }
    .medium-pull-9 {
        position: relative;
        left: -75%;
    }
    .medium-push-10 {
        position: relative;
        left: 83.33333%;
    }
    .medium-pull-10 {
        position: relative;
        left: -83.33333%;
    }
    .medium-push-11 {
        position: relative;
        left: 91.66667%;
    }
    .medium-pull-11 {
        position: relative;
        left: -91.66667%;
    }
    .medium-push-0,
    .medium-pull-0 {
        position: static;
        margin-left: 0;
        margin-right: 0;
        float: left;
    }
}
@media screen and (min-width: 64em) {
    .large-push-1 {
        position: relative;
        left: 8.33333%;
    }
    .large-pull-1 {
        position: relative;
        left: -8.33333%;
    }
    .large-push-2 {
        position: relative;
        left: 16.66667%;
    }
    .large-pull-2 {
        position: relative;
        left: -16.66667%;
    }
    .large-push-3 {
        position: relative;
        left: 25%;
    }
    .large-pull-3 {
        position: relative;
        left: -25%;
    }
    .large-push-4 {
        position: relative;
        left: 33.33333%;
    }
    .large-pull-4 {
        position: relative;
        left: -33.33333%;
    }
    .large-push-5 {
        position: relative;
        left: 41.66667%;
    }
    .large-pull-5 {
        position: relative;
        left: -41.66667%;
    }
    .large-push-6 {
        position: relative;
        left: 50%;
    }
    .large-pull-6 {
        position: relative;
        left: -50%;
    }
    .large-push-7 {
        position: relative;
        left: 58.33333%;
    }
    .large-pull-7 {
        position: relative;
        left: -58.33333%;
    }
    .large-push-8 {
        position: relative;
        left: 66.66667%;
    }
    .large-pull-8 {
        position: relative;
        left: -66.66667%;
    }
    .large-push-9 {
        position: relative;
        left: 75%;
    }
    .large-pull-9 {
        position: relative;
        left: -75%;
    }
    .large-push-10 {
        position: relative;
        left: 83.33333%;
    }
    .large-pull-10 {
        position: relative;
        left: -83.33333%;
    }
    .large-push-11 {
        position: relative;
        left: 91.66667%;
    }
    .large-pull-11 {
        position: relative;
        left: -91.66667%;
    }
    .large-push-0,
    .large-pull-0 {
        position: static;
        margin-left: 0;
        margin-right: 0;
        float: left;
    }
}
